{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #042208;
        padding: 20px;
        text-align: center;
    }

    nav a {
        margin: 0 15px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        background-color: #007BFF;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.2s;
    }

    nav a:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    h1 {
        text-align: center;
        color: #333;
        margin-top: 20px;
    }

    /* Flexbox container for images */
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribute space evenly */
        gap: 20px; /* Space between images */
        padding: 20px;
    }

    .image-container {
        width: 48%; /* Two images per row, each taking up 48% of the container width */
        text-align: center;
        margin-bottom: 20px; /* Space below each image */
        box-sizing: border-box;
    }

    /* Optional: If you want to add some responsiveness for smaller screens */
    @media (max-width: 768px) {
        .container {
            flex-direction: column; /* Stack images on top of each other on small screens */
        }

        .image-container {
            width: 100%; /* Images take full width on smaller screens */
        }
    }
</style>

<nav>
    <a href="/errorcategory" class="styled-link">Error Category</a>
    <a href="/logs" class="styled-link">All Logs</a>
    <a href="/source_cat" class="styled-link">Source Category</a>
</nav>

<div class="container">

    <div class="image-container" >
        {{ plot_div|safe }} 
    </div>
    <div class="image-container">
        {{ plot_div_source_errors|safe }}
    </div>
    <div class="image-container">
        {{ plot_div_severity|safe }}
    </div>
    <div class="image-container">
        {{ plot_html|safe }}
    </div>
    <div class="image-container">
        {{ error_cat|safe }}
    </div>
    <div class="image-container">
        {{ pie_chart_html|safe }}
    </div>

</div>
